<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.j.sbdemo.sys.dao.SysConfigMapper">
  <resultMap id="BaseResultMap" type="cn.j.sbdemo.sys.entity.SysConfig">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="param_key" jdbcType="VARCHAR" property="paramKey" />
    <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <insert id="insert" parameterType="cn.j.sbdemo.sys.entity.SysConfig">
    insert into sys_config (id, param_key, param_value, 
      status, remark)
    values (#{id,jdbcType=BIGINT}, #{paramKey,jdbcType=VARCHAR}, #{paramValue,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.j.sbdemo.sys.entity.SysConfig">
    insert into sys_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paramKey != null">
        param_key,
      </if>
      <if test="paramValue != null">
        param_value,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paramKey != null">
        #{paramKey,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="cn.j.sbdemo.sys.entity.SysConfig">
    <id column="variable" jdbcType="VARCHAR" property="variable" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="set_time" jdbcType="TIMESTAMP" property="setTime" />
    <result column="set_by" jdbcType="VARCHAR" property="setBy" />
  </resultMap>
  <sql id="Base_Column_List">
    variable, value, set_time, set_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_config
    where variable = #{variable,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_config
    where variable = #{variable,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.j.sbdemo.sys.entity.SysConfig">
    insert into sys_config (variable, value, set_time, 
      set_by)
    values (#{variable,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{setTime,jdbcType=TIMESTAMP}, 
      #{setBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.j.sbdemo.sys.entity.SysConfig">
    insert into sys_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="variable != null">
        variable,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="setTime != null">
        set_time,
      </if>
      <if test="setBy != null">
        set_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="variable != null">
        #{variable,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="setTime != null">
        #{setTime,jdbcType=TIMESTAMP},
      </if>
      <if test="setBy != null">
        #{setBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.j.sbdemo.sys.entity.SysConfig">
    update sys_config
    <set>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="setTime != null">
        set_time = #{setTime,jdbcType=TIMESTAMP},
      </if>
      <if test="setBy != null">
        set_by = #{setBy,jdbcType=VARCHAR},
      </if>
    </set>
    where variable = #{variable,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.j.sbdemo.sys.entity.SysConfig">
    update sys_config
    set value = #{value,jdbcType=VARCHAR},
      set_time = #{setTime,jdbcType=TIMESTAMP},
      set_by = #{setBy,jdbcType=VARCHAR}
    where variable = #{variable,jdbcType=VARCHAR}
  </update>
</mapper>